.background
{
    width: 100vw;
    min-height: calc(100vh - 48px); 
    background: rgb(10,0,36);
    background: linear-gradient(180deg, rgba(10,0,36,1) 0%, rgba(255,255,255,1) 100%);
    scroll-margin-block: none;
    overflow: hidden;
}

.card
{
    width: 450px!important;
    height: 500px!important;
    background-color: #CAD1EA70;
}

#standard-basic
{
    width: 270px;
    color: #2C303B!important;
}

.form-title
{
    margin-top:-60px!important;
    color: #f5f5f5!important;
    font-weight:bold!important;
}

.botao
{
    background-color:#322b49!important;
    color: white!important;
    width: 90px;
    height: 40px;
    border:none;
    -webkit-box-shadow: 0px 0px 4px -1px #000000; 
    box-shadow: 0px 0px 4px -1px #000000;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    transition-duration: 500ms;
    outline: none;
    margin: 5px!important;
    align-items: center!important;
    bottom: center;
}

.botao:hover
{
    width: 90px;
    height: 40px;
    color: #e9ecef;
    background-color: #5D6995!important;
    border:none;
    transition-duration: 500ms!important;
    outline: none;
    margin: 5px!important;   
}

.text-decoration
{
    text-decoration: none!important;
}

.cadastrar
{
    color: #3C4668!important;
}
.cadastrar-conta
{
    color: #3C4668!important;
    font-weight: bold!important;
}