.navbar
{
    background-color: #8470A9;
}

.lobinea-bx
{
    font-size: 50px!important;
    font-style: inherit!important;
}

.text-decoration
{
    text-decoration: none!important;
    color: #f5f5f5;
}

.cursor
{
    cursor: pointer!important;
}

.sair
{
    display: flex;
    padding: 0px;
    align-items: center;
    align-content: center;
}