.background
{
    background-color: #F2EEFA!important;
}

.txt-home
{
    font-weight: bold !important;
}

.img-home
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 380px;
    height: 540px;
}